<section class="lui-section lui-gradient-bottom" id="services-section">
	<!-- Heading -->
	<div class="lui-heading">
		<div class="container">
			<div class="m-titles align-center">
				<h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
					<span> What I Do </span>
				</h2>
				<div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
					<span> my <b>Services</b> </span>
				</div>
			</div>
		</div>
	</div>

	<!-- Services -->
	<div class="v-line v-line-right">
		<div class="container">
			<div class="swiper-container js-services scrolla-element-anim-1 scroll-animate" data-animate="active">
				<div class="swiper-wrapper">
					{%- for item in site.data.service-list -%}
					<div class="swiper-slide">
						<div class="services-item">
							<div class="lui-subtitle">
								<span>{{ item.name }}</span>
							</div>
							<div class="icon"></div>
							<h5 class="lui-title">
								<span>{{ item.title }}</span>
							</h5>
							<div class="lui-text">
								<div>{{ item.desc }}</div>
							</div>
							<a href="#pricing-section" class="lnk"> See Pricing </a>
							<div class="image" style="background-image: url(assets/images/pat-2.png)"></div>
						</div>
					</div>
					{%- endfor -%}
				</div>
				<div class="swiper-pagination"></div>
			</div>

			<div class="lui-bgtitle">
				<span> Services </span>
			</div>
		</div>
	</div>
</section>
