---
layout: default
---

<div class="wrapper">
	<!-- Section - Hero Started -->
	{%- include page-home/section-hero.html -%}

	<!-- Section - Services -->
	{%- include page-home/section-services.html -%}

	<!-- Section - Skills -->
	{%- include page-home/section-skills.html -%}

	<!-- Section - Works -->
	{%- include page-home/section-works.html -%}

	<!-- Section - Resume -->
	{%- include page-home/section-resume.html -%}

	<!-- Section - Testimonials -->
	{%- include page-home/section-testimonials.html -%}

	<!-- Section - Pricing -->
	{%- include page-home/section-pricing.html -%}

	<!-- Section - Blog -->
	{%- include page-home/section-blog.html -%}

	<!-- Section - Contacts -->
	{%- include page-home/section-contact.html -%}
</div>
