---
layout: default
---

<div class="wrapper">
	<!-- Section - Hero Started -->
	<section class="lui-section lui-section-hero lui-gradient-top" id="started-section">
		<div class="container">
			<!-- Hero Started -->
			<div class="lui-started v-line v-line-left">
				<div class="section hero-started">
					<div class="content scrolla-element-anim-1 scroll-animate" data-animate="active">
						<div class="titles">
							<div class="lui-subtitle">
								<span> Hello, <b>my name is</b> </span>
							</div>
							<h1 class="title splitting-text-anim-1 scroll-animate" data-splitting="chars" data-animate="active">
								<span> <b>Sayudha</b> Lukita Wibisana, <b>S.T.</b> </span>
							</h1>
							<div class="label lui-subtitle">I am <strong>Web Developer</strong></div>
						</div>
						<div class="description">
							<div>
								<p>
									From Bandung, Indonesia. I have rich experience in web design, also I am good at Shopify. I love to talk with you about our unique.
								</p>
							</div>
							<div class="social-links">
								<a target="_blank" rel="nofollow" href="#">
									<i aria-hidden="true" class="fab fa-twitter"></i>
								</a>
								<a target="_blank" rel="nofollow" href="#">
									<i aria-hidden="true" class="fab fa-dribbble"></i>
								</a>
								<a target="_blank" rel="nofollow" href="#">
									<i aria-hidden="true" class="fab fa-behance"></i>
								</a>
							</div>
						</div>
						<div class="bts">
							<a target="_blank" href="https://1drv.ms/b/s!Amgcg_Z5WUc2i8BuiBSW6BTB8MaMdA?e=bu0kNC" class="btn">
								<span>Download CV</span>
							</a>
							<a href="#skills-section" class="btn-lnk"> My Skills </a>
						</div>
					</div>
					<div class="slide scrolla-element-anim-1 scroll-animate" data-animate="active">
						<img decoding="async" src="assets/images/Profile2.webp" alt="Sayudha Lukita Wibisana" />
						<span class="circle circle-1"></span>
						<span class="circle img-1" style="background-image: url(assets/images/pat-1.png)"></span>
						<span class="circle img-2" style="background-image: url(assets/images/pat-2.png)"></span>
						<span class="circle img-3" style="background-image: url(assets/images/pat-2.png)"></span>
						<div class="info-list">
							<ul>
								<li>
									<span class="num">10<strong>+</strong> </span>
									<span class="value">Years of <strong>Experience</strong> </span>
								</li>
								<li>
									<span class="num">150</span>
									<span class="value">Completed <strong>Projects</strong> </span>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="lui-bgtitle">
					<span> Web Developer </span>
				</div>
			</div>
		</div>
	</section>

	<!-- Section - Services -->
	<section class="lui-section lui-gradient-bottom" id="services-section">
		<!-- Heading -->
		<div class="lui-heading">
			<div class="container">
				<div class="m-titles align-center">
					<h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
						<span> What I Do </span>
					</h2>
					<div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
						<span> my <b>Services</b> </span>
					</div>
				</div>
			</div>
		</div>

		<!-- Services -->
		<div class="v-line v-line-right">
			<div class="container">
				<div class="swiper-container js-services scrolla-element-anim-1 scroll-animate" data-animate="active">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="services-item">
								<div class="lui-subtitle">
									<span> Web Development </span>
								</div>
								<div class="icon"></div>
								<h5 class="lui-title">
									<span> Web Design &amp; Logo </span>
								</h5>
								<div class="lui-text">
									<div>
										Web designers craft the overall vision &amp; plan for a website layout. Professional logo
										development: Business, Company, or Personal.
									</div>
								</div>
								<a href="#pricing-section" class="lnk"> See Pricing </a>
								<div class="image" style="background-image: url(assets/images/pat-2.png)"></div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="services-item">
								<div class="lui-subtitle">
									<span> E-Commerce Development </span>
								</div>
								<div class="icon"></div>
								<h5 class="lui-title">
									<span> Shopify </span>
								</h5>
								<div class="lui-text">
									<div>
										<p>
											Design Software applications to run on mobile devices. Modern and mobile-ready application that
											will help you reach all of your marketing.
										</p>
									</div>
								</div>
								<a href="#pricing-section" class="lnk"> See Pricing </a>
								<div class="image" style="background-image: url(assets/images/pat-2.png)"></div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="services-item">
								<div class="lui-subtitle">
									<span> Blog Development </span>
								</div>
								<div class="icon"></div>
								<h5 class="lui-title">
									<span> Jekyll Blog Site </span>
								</h5>
								<div class="lui-text">
									<div>
										Creating blog &amp; describes the design, development and release of the blog site. Developing unique static site blog generator.
									</div>
								</div>
								<a href="#pricing-section" class="lnk"> See Pricing </a>
								<div class="image" style="background-image: url(assets/images/pat-2.png)"></div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="services-item">
								<div class="lui-subtitle">
									<span> Bug Fixing </span>
								</div>
								<div class="icon"></div>
								<h5 class="lui-title">
									<span> JavaScript </span>
								</h5>
								<div class="lui-text">
									<div>
										Fixing any bugs on your website that using any JavaScript languages on the sites.
									</div>
								</div>
								<a href="#pricing-section" class="lnk"> See Pricing </a>
								<div class="image" style="background-image: url(assets/images/pat-2.png)"></div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="services-item">
								<div class="lui-subtitle">
									<span> Web App Building </span>
								</div>
								<div class="icon"></div>
								<h5 class="lui-title">
									<span> JavaScript Web Application </span>
								</h5>
								<div class="lui-text">
									<div>
										<p>Create any functionalities on your site, integrate with any API that needed to make your Web Application works as you desire.</p>
									</div>
								</div>
								<a href="#pricing-section" class="lnk"> See Pricing </a>
								<div class="image" style="background-image: url(assets/images/pat-2.png)"></div>
							</div>
						</div>
					</div>
					<div class="swiper-pagination"></div>
				</div>

				<div class="lui-bgtitle">
					<span> Services </span>
				</div>
			</div>
		</div>
	</section>

	<!-- Section - Skills -->
	<section class="lui-section lui-gradient-center" id="skills-section">
		<!-- Heading -->
		<div class="lui-heading">
			<div class="container">
				<div class="m-titles align-center">
					<h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
						<span> Professional Skills </span>
					</h2>
					<div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
						<span> my <b>Talent</b> </span>
					</div>
				</div>
			</div>
		</div>

		<!-- Skills -->
		<div class="v-line v-line-left">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="skills-items">
							<div class="skills-item scrolla-element-anim-1 scroll-animate" data-animate="active">
								<h6 class="name">
									<span> Shopify </span>
								</h6>
								<div class="text">
									<div>
										<p>
											Experienced in leveraging Shopify's platform to create compelling and user-friendly e-commerce websites. Skilled in customizing themes, managing product catalogs, and optimizing store performance. Proficient in utilizing Shopify's APIs and app integrations to extend functionality and provide tailored solutions for clients' business needs.
										</p>
									</div>
								</div>
								<div class="dots">
									<div class="dot" style="width: 95%">
										<span></span>
									</div>
								</div>
								<div class="value">
									<span class="num">95 <span>%</span> </span>
								</div>
							</div>
							<div class="skills-item scrolla-element-anim-1 scroll-animate" data-animate="active">
								<h6 class="name">
									<span> Liquid </span>
								</h6>
								<div class="text">
									<div>
										<p>
											Skilled in utilizing Liquid to customize and optimize web platforms, ensuring dynamic content delivery and enhanced user experiences. Proficient in crafting personalized solutions through effective utilization of Liquid's capabilities, resulting in efficient workflows and engaging digital environments.
										</p>
									</div>
								</div>
								<div class="dots">
									<div class="dot" style="width: 95%">
										<span></span>
									</div>
								</div>
								<div class="value">
									<span class="num">95 <span>%</span> </span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="skills-items">
							<div class="skills-item scrolla-element-anim-1 scroll-animate" data-animate="active">
								<h6 class="name">
									<span> JavaScript </span>
								</h6>
								<div class="text">
									<div>
										<p>
											Proficient in JavaScript, with a deep understanding of its core concepts and modern frameworks. Skilled in developing robust, dynamic web applications, implementing complex logic, and enhancing user interactions. Experienced in utilizing JavaScript libraries and tools to build scalable solutions and optimize performance across various platforms.
										</p>
									</div>
								</div>
								<div class="dots">
									<div class="dot" style="width: 95%">
										<span></span>
									</div>
								</div>
								<div class="value">
									<span class="num">95 <span>%</span> </span>
								</div>
							</div>
							<div class="skills-item scrolla-element-anim-1 scroll-animate" data-animate="active">
								<h6 class="name">
									<span> Jekyll </span>
								</h6>
								<div class="text">
									<div>
										<p>
											Proficient in Jekyll, harnessing its capabilities to build efficient and scalable websites. Skilled in creating dynamic web content, optimizing site performance, and maintaining clean code structure. Experienced in leveraging Jekyll's features to streamline development workflows and enhance user experiences.
										</p>
									</div>
								</div>
								<div class="dots">
									<div class="dot" style="width: 85%">
										<span></span>
									</div>
								</div>
								<div class="value">
									<span class="num">85 <span>%</span> </span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<div class="skills-items">
							<div class="skills-item scrolla-element-anim-1 scroll-animate" data-animate="active">
								<h6 class="name">
									<span> Figma </span>
								</h6>
								<div class="text">
									<div>
										<p>
											Proficient in Figma, leveraging its powerful design tools to create visually appealing and user-friendly interfaces. Experienced in collaborating with teams to streamline design processes and ensure seamless communication throughout project lifecycles.
										</p>
									</div>
								</div>
								<div class="dots">
									<div class="dot" style="width: 70%">
										<span></span>
									</div>
								</div>
								<div class="value">
									<span class="num">70 <span>%</span> </span>
								</div>
							</div>
							<div class="skills-item scrolla-element-anim-1 scroll-animate" data-animate="active">
								<h6 class="name">
									<span> React </span>
								</h6>
								<div class="text">
									<div>
										<p>
											Experienced in developing responsive and interactive web applications using React.js. Proficient in building reusable components, managing state efficiently, and implementing modern UI/UX designs. Skilled in utilizing React's ecosystem to create high-performance, scalable solutions that meet project requirements and exceed user expectations.
										</p>
									</div>
								</div>
								<div class="dots">
									<div class="dot" style="width: 85%">
										<span></span>
									</div>
								</div>
								<div class="value">
									<span class="num">85 <span>%</span> </span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="lui-bgtitle">
					<span> Skills </span>
				</div>
			</div>
		</div>
	</section>

	<!-- Section - Works -->
	<section class="lui-section lui-gradient-top" id="works-section">
		<!-- Heading -->
		<div class="lui-heading">
			<div class="container">
				<div class="m-titles align-center">
					<h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
						<span> Portfolio </span>
					</h2>
					<div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
						<span> my <b>Cases</b> </span>
					</div>
				</div>
			</div>
		</div>

		<!-- Works -->
		<div class="v-line v-line-right">
			<div class="container">
				<div class="works-box">
					<div class="filter-links scrolla-element-anim-1 scroll-animate" data-animate="active">
						<a href="#" class="lui-subtitle active" data-href=".works-col"> All </a>
						<a href="#" class="lui-subtitle" data-href=".sorting-shopify"> Shopify </a>
						<a href="#" class="lui-subtitle" data-href=".sorting-javascript"> JavaScript </a>
						<a href="#" class="lui-subtitle" data-href=".sorting-vue"> Vue JS </a>
						<a href="#" class="lui-subtitle" data-href=".sorting-wix"> WIX </a>
					</div>
					<div class="works-items works-masonry-items row">

						{%- for item in site.data.portfolio-list -%}
							<div class="works-col col-xs-12 col-sm-12 col-md-12 col-lg-12 sorting-branding sorting-{{ item.section }}">
								<div class="works-item scrolla-element-anim-1 scroll-animate" data-animate="active">
									<div class="image">
										<div class="img">
											<a href="work-single.html">
												<img decoding="async" src="{{ item.image }}" alt="{{ item.name }}" />
												<span class="overlay"></span>
											</a>
										</div>
									</div>
									<div class="desc">
										<span class="category"> {{ item.tags }} </span>
										<h5 class="name">
											<a href="work-single.html">{{ item.name }}</a>
										</h5>
										<div class="text">
											<p>{{ item.desc }}</p>
										</div>
										<a href="work-single.html" class="lnk">See project</a>
									</div>
									<div class="bg-img" style="background-image: url(assets/images/pat-2.png)"></div>
								</div>
							</div>
						{%- endfor -%}
					</div>
					<div class="load-more-link">
						<a href="works.html" class="btn scrolla-element-anim-1 scroll-animate" data-animate="active">
							<span>View More</span>
						</a>
					</div>
				</div>

				<div class="lui-bgtitle">
					<span> Portfolio </span>
				</div>
			</div>
		</div>
	</section>

	<!-- Section - Resume -->
	<section class="lui-section lui-gradient-bottom" id="resume-section">
		<!-- Heading -->
		<div class="lui-heading">
			<div class="container">
				<div class="m-titles align-center">
					<h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
						<span> Resume </span>
					</h2>
					<div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
						<span> my <b>Story</b> </span>
					</div>
				</div>
			</div>
		</div>

		<!-- History -->
		<div class="v-line v-line-left">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h5 class="history-title scrolla-element-anim-1 scroll-animate" data-animate="active">
							<span> Education </span>
						</h5>
						<div class="history-items">
							<div
								class="history-item lui-collapse-item opened scrolla-element-anim-1 scroll-animate"
								data-animate="active"
							>
								<h6 class="name lui-collapse-btn active">
									<span> Binus University </span>
								</h6>
								<div class="history-content">
									<div class="subname">
										<span> Backend Developer Course </span>
									</div>
									<div class="date lui-subtitle">
										<span> 2014 - 2015 </span>
									</div>
									<div class="text">
										<div>
											<p>
												My course in PHP at Bina Nusantara University is providing me the knowledge and hands-on experience in developing dynamic web pages and web applications using the popular server-side scripting language PHP. I am excited to apply my skills in a professional setting and create efficient and effective websites.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="history-item lui-collapse-item scrolla-element-anim-1 scroll-animate" data-animate="active">
								<h6 class="name lui-collapse-btn">
									<span> Universitas Islam Negeri Sunan Gunung Djati </span>
								</h6>
								<div class="history-content">
									<div class="subname">
										<span> Bachelor Electrical Engineer </span>
									</div>
									<div class="date lui-subtitle">
										<span> 2008 - 2012 </span>
									</div>
									<div class="text">
										<div>
											<p>
												Excelled in a rigorous academic curriculum, gaining comprehensive knowledge in electrical engineering principles and practices. Engaged in hands-on projects and research initiatives, honing analytical and problem-solving skills. Actively participated in extracurricular activities, demonstrating leadership and teamwork abilities.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="history-item lui-collapse-item scrolla-element-anim-1 scroll-animate" data-animate="active">
								<h6 class="name lui-collapse-btn">
									<span> SMA Pesantren Terpadu Hayatan Thayyibah </span>
								</h6>
								<div class="history-content">
									<div class="subname">
										<span> High School Science </span>
									</div>
									<div class="date lui-subtitle">
										<span> 2004 - 2006 </span>
									</div>
									<div class="text">
										<div>
											<p>
												Excelled in a challenging science-focused curriculum, laying the foundation for a strong academic background. Actively engaged in laboratory experiments, fostering a deep understanding of scientific principles and methodologies. Demonstrated leadership skills through involvement in various extracurricular activities, contributing to a vibrant school community.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<h5 class="history-title scrolla-element-anim-1 scroll-animate" data-animate="active">
							<span> Experience </span>
						</h5>
						<div class="history-items">
							<div
								class="history-item lui-collapse-item opened scrolla-element-anim-1 scroll-animate"
								data-animate="active"
							>
								<h6 class="name lui-collapse-btn active">
									<span> PT. Stella Satindo </span>
								</h6>
								<div class="history-content">
									<div class="subname">
										<span> Senior Front End Developer </span>
									</div>
									<div class="date lui-subtitle">
										<span> 2024 - <b>Present</b> </span>
									</div>
									<div class="text">
										<div>
											<p>
												Lead the front end development team in designing and implementing innovative web solutions. Collaborate with cross-functional teams to translate design mockups into responsive and interactive user interfaces. Utilize cutting-edge technologies and best practices to optimize performance and user experience. Actively participate in code reviews and mentor junior developers, fostering a culture of continuous learning and growth.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="history-item lui-collapse-item scrolla-element-anim-1 scroll-animate" data-animate="active">
								<h6 class="name lui-collapse-btn">
									<span> PT. Krafthaus Indonesia </span>
								</h6>
								<div class="history-content">
									<div class="subname">
										<span> Senior Front End Developer </span>
									</div>
									<div class="date lui-subtitle">
										<span> 2021 - 2023 </span>
									</div>
									<div class="text">
										<div>
											<p>
												Led the development of custom Shopify themes and applications, specializing in front end design and functionality. Collaborated closely with designers and back end developers to deliver seamless e-commerce solutions tailored to client specifications. Implemented best practices for performance optimization and responsive design, ensuring an exceptional user experience across devices. Actively contributed to team meetings and brainstorming sessions, driving innovation and problem-solving initiatives.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="history-item lui-collapse-item scrolla-element-anim-1 scroll-animate" data-animate="active">
								<h6 class="name lui-collapse-btn">
									<span> PT. Xtremax Indonesia </span>
								</h6>
								<div class="history-content">
									<div class="subname">
										<span> Junior Front End Developer </span>
									</div>
									<div class="date lui-subtitle">
										<span> 2019 - 2021 </span>
									</div>
									<div class="text">
										<div>
											<p>
												Contributed to the development of dynamic and user-friendly web applications, focusing on front end technologies and frameworks. Collaborated with senior developers to implement design mockups and enhance user interface functionality. Participated in code reviews and debugging sessions to maintain code quality and resolve issues efficiently. Actively engaged in learning new technologies and techniques to improve skills and contribute effectively to project success.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="history-item lui-collapse-item scrolla-element-anim-1 scroll-animate" data-animate="active">
								<h6 class="name lui-collapse-btn">
									<span> PT. Jabil Circuit Indonesia </span>
								</h6>
								<div class="history-content">
									<div class="subname">
										<span> Facility Supervisor </span>
									</div>
									<div class="date lui-subtitle">
										<span> 2017 - 2019 </span>
									</div>
									<div class="text">
										<div>
											<p>
												Managed day-to-day operations and maintenance of facility equipment, ensuring smooth production processes and adherence to safety standards. Coordinated with cross-functional teams to schedule maintenance activities and address equipment malfunctions promptly. Implemented process improvements to enhance efficiency and reduce downtime, contributing to increased productivity and cost savings. Maintained accurate records of equipment maintenance and repairs, facilitating data-driven decision-making for continuous improvement initiatives.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="history-item lui-collapse-item scrolla-element-anim-1 scroll-animate" data-animate="active">
								<h6 class="name lui-collapse-btn">
									<span> PT. Net Mediatama Televisi </span>
								</h6>
								<div class="history-content">
									<div class="subname">
										<span> Mechanical Electrical Plumbing Staff </span>
									</div>
									<div class="date lui-subtitle">
										<span> 2015 - 2017 </span>
									</div>
									<div class="text">
										<div>
											<p>
												Played a key role in maintaining and troubleshooting mechanical, electrical, and plumbing systems to ensure uninterrupted broadcast operations. Collaborated with engineering teams to perform preventive maintenance and repairs, minimizing downtime and optimizing equipment performance. Demonstrated strong problem-solving skills in diagnosing and resolving issues promptly, contributing to the smooth functioning of critical infrastructure. Additionally, provided support for facility expansion projects, adhering to industry standards and safety regulations.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="history-item lui-collapse-item scrolla-element-anim-1 scroll-animate" data-animate="active">
								<h6 class="name lui-collapse-btn">
									<span> PT. Philip Morris Indonesia </span>
								</h6>
								<div class="history-content">
									<div class="subname">
										<span> Production Technician </span>
									</div>
									<div class="date lui-subtitle">
										<span> 2013 - 2015 </span>
									</div>
									<div class="text">
										<div>
											<p>
												Operated and maintained production machinery to ensure efficient manufacturing processes in compliance with quality standards. Proactively identified and resolved equipment malfunctions to minimize downtime and optimize production output. Collaborated with cross-functional teams to implement process improvements and enhance product quality. Adhered to safety protocols and procedures to create a secure working environment for all staff members.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="lui-bgtitle">
					<span> History </span>
				</div>
			</div>
		</div>
	</section>

	<!-- Section - Testimonials -->
	<section class="lui-section lui-gradient-center" id="testimonials-section">
		<!-- Heading -->
		<div class="lui-heading">
			<div class="container">
				<div class="m-titles align-center">
					<h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
						<span> Testimonials </span>
					</h2>
					<div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
						<span> what <b>Customers Say</b> </span>
					</div>
				</div>
			</div>
		</div>

		<!-- Testimonials -->
		<div class="v-line v-line-right">
			<div class="container">
				<div class="swiper-container js-testimonials scrolla-element-anim-1 scroll-animate" data-animate="active">
					<div class="swiper-wrapper">
						{%- for item in site.data.testimonial -%}
							<div class="swiper-slide">
								<div class="testimonials-item">
									<div class="image">
										<img decoding="async" src="{{ item.image }}" alt="{{ item.name }}" class="img-fluid" />
										<div class="icon">
											<svg
												xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink"
												width="44px"
												height="34px"
											>
												<path
													fill-rule="evenodd"
													stroke-width="2px"
													stroke="rgb(0, 0, 0)"
													fill="rgb(41, 165, 135)"
													d="M17.360,8.325 C15.490,5.563 11.616,4.762 8.705,6.536 C6.901,7.635 5.815,9.533 5.826,11.567 C5.828,14.854 8.637,17.516 12.101,17.515 C13.290,17.513 14.456,17.192 15.460,16.587 C14.967,17.975 14.049,19.457 12.537,20.942 C11.934,21.533 11.951,22.476 12.574,23.048 C13.198,23.619 14.192,23.604 14.794,23.012 C20.384,17.515 19.658,11.539 17.360,8.333 L17.360,8.325 ZM32.407,8.325 C30.538,5.563 26.663,4.762 23.752,6.536 C21.949,7.635 20.863,9.533 20.873,11.567 C20.875,14.854 23.685,17.516 27.148,17.515 C28.338,17.513 29.503,17.192 30.508,16.587 C30.015,17.975 29.097,19.457 27.585,20.942 C26.982,21.533 26.999,22.476 27.622,23.048 C28.245,23.619 29.239,23.604 29.842,23.012 C35.432,17.515 34.706,11.539 32.407,8.333 L32.407,8.325 Z"
												/>
											</svg>
										</div>
									</div>
									<div class="text lui-text">
										<div>{{ item.testimonial }}</div>
									</div>
									<div class="info">
										<h6 class="name">
											<span>{{ item.name }}</span>
										</h6>
										<div class="author">
											<span>{{ item.position}} </br>at {{ item.company }}</span>
										</div>
									</div>
									<div class="bg-img" style="background-image: url(assets/images/pat-2.png)"></div>
								</div>
							</div>
						{%- endfor -%}
					</div>
					<div class="swiper-pagination"></div>
				</div>

				<div class="lui-bgtitle">
					<span> Reviews </span>
				</div>
			</div>
		</div>
		<div class="load-more-link">
			<a href="https://id.linkedin.com/in/sayudha-lukita-wibisana" class="btn scrolla-element-anim-1 scroll-animate" data-animate="active">
				<span>View More</span>
			</a>
		</div>
	</section>

	<!-- Section - Pricing -->
	<section class="lui-section lui-gradient-center" id="pricing-section">
		<!-- Heading -->
		<div class="lui-heading">
			<div class="container">
				<div class="m-titles align-center">
					<h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
						<span> Pricing </span>
					</h2>
					<div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
						<span> my <b>Price Board</b> </span>
					</div>
				</div>
			</div>
		</div>

		<!-- Pricing -->
		<div class="v-line v-line-left">
			<div class="container">
				<div class="pricing-items row">
					<div class="pricing-col col-xs-12 col-sm-6 col-md-6 col-lg-4">
						<div class="pricing-item scrolla-element-anim-1 scroll-animate" data-animate="active">
							<div class="lui-subtitle">
								<span> Hourly Basis </span>
							</div>
							<div class="icon"></div>
							<div class="price">
								<span> 39 <b>$</b> </span>
								<em>Hour</em>
							</div>
							<div class="lui-text">
								<div>
									<p>
										Offering expert services in brand design and web development, ensuring your online presence reflects your unique identity and engages your audience effectively.
									</p>
								</div>
							</div>
							<div class="list">
								<div>
									<ul>
										<li><i class="fas fa-check"></i>Brand Design</li>
										<li><i class="fas fa-check"></i>Web Development</li>
										<li>
											<em>SEO</em>
										</li>
										<li>
											<em>Free 1 Year Maintenance</em>
										</li>
									</ul>
								</div>
							</div>
							<a href="#contact-section" class="btn btn-solid">
								<span>Start Project</span>
							</a>
							<div class="bg-img" style="background-image: url(assets/images/pat-2.png)"></div>
						</div>
					</div>
					<div class="pricing-col center col-xs-12 col-sm-6 col-md-6 col-lg-4">
						<div class="label">
							<span> Popular </span>
						</div>
						<div class="pricing-item scrolla-element-anim-1 scroll-animate" data-animate="active">
							<div class="lui-subtitle">
								<span> Freelancing </span>
							</div>
							<div class="icon"></div>
							<div class="price">
								<span> 259 <b>$</b> </span>
								<em>Week</em>
							</div>
							<div class="lui-text">
								<div>
									<p>
										Comprehensive brand design, web development, and SEO services tailored to boost your online visibility and drive growth. Flexible options to meet your project needs.
									</p>
								</div>
							</div>
							<div class="list">
								<div>
									<ul>
										<li><i class="fas fa-check"></i>Brand Design</li>
										<li><i class="fas fa-check"></i>Web Development</li>
										<li><i class="fas fa-check"></i>SEO</li>
										<li>
											<em>Free 1 Year Maintenance</em>
										</li>
									</ul>
								</div>
							</div>
							<a href="#contact-section" class="btn btn-solid">
								<span>Start Project</span>
							</a>
							<div class="bg-img" style="background-image: url(assets/images/pat-2.png)"></div>
						</div>
					</div>
					<div class="pricing-col col-xs-12 col-sm-6 col-md-6 col-lg-4">
						<div class="pricing-item scrolla-element-anim-1 scroll-animate" data-animate="active">
							<div class="lui-subtitle">
								<span> Full Time </span>
							</div>
							<div class="icon"></div>
							<div class="price">
								<span> 1.249 <b>$</b> </span>
								<em>Month</em>
							</div>
							<div class="lui-text">
								<div>
									<p>
										Dedicated support in brand design, web development, and SEO on a full-time basis. Includes complimentary 1-year maintenance for uninterrupted optimization and success.
									</p>
								</div>
							</div>
							<div class="list">
								<div>
									<ul>
										<li><i class="fas fa-check"></i>Brand Design</li>
										<li><i class="fas fa-check"></i>Web Development</li>
										<li><i class="fas fa-check"></i>SEO</li>
										<li><i class="fas fa-check"></i>Free 1 Year Maintenance</li>
									</ul>
								</div>
							</div>
							<a href="#contact-section" class="btn btn-solid">
								<span>Start Project</span>
							</a>
							<div class="bg-img" style="background-image: url(assets/images/pat-2.png)"></div>
						</div>
					</div>
				</div>

				<div class="lui-bgtitle">
					<span> Pricing </span>
				</div>
			</div>
		</div>
	</section>

	<!-- Section - Blog -->
	<section class="lui-section lui-gradient-top" id="blog-section">
		<!-- Heading -->
		<div class="lui-heading">
			<div class="container">
				<div class="m-titles align-center">
					<h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
						<span> Latest Blog </span>
					</h2>
					<div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
						<span> my <b>Articles and Advice</b> </span>
					</div>
				</div>
			</div>
		</div>

		<!-- Archive -->
		<div class="v-line v-line-right">
			<div class="container">
				<div class="blog-items row">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="archive-item scrolla-element-anim-1 scroll-animate" data-animate="active">
							<div class="image">
								<a href="blog-single.html">
									<img decoding="async" src="assets/images/single7.jpg" alt="The Main Thing For The Designer" />
								</a>
							</div>
							<div class="desc">
								<div class="category lui-subtitle">
									<span>October 31, 2022</span>
								</div>
								<h5 class="lui-title">
									<a href="blog-single.html">The Main Thing For The Designer</a>
								</h5>
								<div class="lui-text">
									<p>
										Vivamus interdum suscipit lacus. Nunc ultrices accumsan mattis. Aliquam vel sem vel velit efficitur
										malesuada. Donec arcu lacus, ornare eget&#8230;
									</p>
									<div class="readmore">
										<a href="blog-single.html" class="lnk">Read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="archive-item scrolla-element-anim-1 scroll-animate" data-animate="active">
							<div class="image">
								<a href="blog-single.html">
									<img decoding="async" src="assets/images/blog-4-scaled-1.jpg" alt="Follow Your Own Design Process" />
								</a>
							</div>
							<div class="desc">
								<div class="category lui-subtitle">
									<span>October 31, 2022</span>
								</div>
								<h5 class="lui-title">
									<a href="blog-single.html">Follow Your Own Design Process</a>
								</h5>
								<div class="lui-text">
									<p>
										Vivamus interdum suscipit lacus. Nunc ultrices accumsan mattis. Aliquam vel sem vel velit efficitur
										malesuada. Donec arcu lacus, ornare eget&#8230;
									</p>
									<div class="readmore">
										<a href="blog-single.html" class="lnk">Read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						<div class="archive-item scrolla-element-anim-1 scroll-animate" data-animate="active">
							<div class="image">
								<a href="blog-single.html">
									<img
										decoding="async"
										src="assets/images/blog-2.jpg"
										alt="Usability Secrets to Create Better Interfaces"
									/>
								</a>
							</div>
							<div class="desc">
								<div class="category lui-subtitle">
									<span>November 28, 2021</span>
								</div>
								<h5 class="lui-title">
									<a href="blog-single.html">Usability Secrets to Create Better Interfaces</a>
								</h5>
								<div class="lui-text">
									<p>
										Vivamus interdum suscipit lacus. Nunc ultrices accumsan mattis. Aliquam vel sem vel velit efficitur
										malesuada. Donec arcu lacus, ornare eget&#8230;
									</p>
									<div class="readmore">
										<a href="blog-single.html" class="lnk">Read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="load-more">
					<a href="posts.html" class="btn scrolla-element-anim-1 scroll-animate" data-animate="active">
						<span>View Blog</span>
					</a>
				</div>

				<div class="lui-bgtitle">
					<span> Blog </span>
				</div>
			</div>
		</div>
	</section>

	<!-- Section - Contacts -->
	<section class="lui-section lui-gradient-bottom" id="contact-section">
		<!-- Heading -->
		<div class="lui-heading">
			<div class="container">
				<div class="m-titles align-center">
					<h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
						<span> Contact Me </span>
					</h2>
					<div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
						<span> Let’s <b>Talk About Ideas</b> </span>
					</div>
				</div>
			</div>
		</div>

		<!-- Contact -->
		<div class="lui-contacts v-line v-line-left">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
						<div class="numbers-items">
							<div class="numbers-item scrolla-element-anim-1 scroll-animate" data-animate="active">
								<div class="icon">
									<i aria-hidden="true" class="far fa-map"></i>
								</div>
								<div class="title">
									<span> Address </span>
								</div>
								<div class="lui-text">
									<span> North Tower, Toronto, Canada </span>
								</div>
							</div>
							<div class="numbers-item scrolla-element-anim-1 scroll-animate" data-animate="active">
								<div class="icon">
									<i aria-hidden="true" class="far fa-user"></i>
								</div>
								<div class="title">
									<span> Freelance </span>
								</div>
								<div class="lui-text">
									<span> Available Right Now </span>
								</div>
							</div>
							<div class="numbers-item scrolla-element-anim-1 scroll-animate" data-animate="active">
								<div class="icon">
									<i aria-hidden="true" class="far fa-envelope"></i>
								</div>
								<div class="title">
									<span> Email </span>
								</div>
								<div class="lui-text">
									<span> zoe.miller@mydomain.com </span>
								</div>
							</div>
							<div class="numbers-item scrolla-element-anim-1 scroll-animate" data-animate="active">
								<div class="icon">
									<i aria-hidden="true" class="far fa-address-book"></i>
								</div>
								<div class="title">
									<span> Phone </span>
								</div>
								<div class="lui-text">
									<span> +1 900 - 900 - 9000 </span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
						<div class="contacts-form scrolla-element-anim-1 scroll-animate" data-animate="active">
							<div class="bg-img" style="background-image: url(assets/images/pat-1.png)"></div>
							<div class="contacts-form">
								<form 
									id="cform" 
									action="https://formspree.io/f/mkndaawy"
									method="post"
								>
									<div class="row">
										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="group">
												<label>
													Your Full Name <b>*</b>
													<input type="text" name="name" />
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<div class="group">
												<label>
													Your Email Address <b>*</b>
													<input type="email" name="email" />
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="group">
												<label>
													Your Subject <b>*</b>
													<input type="text" name="subject" />
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<div class="group">
												<label>
													Your Message <b>*</b>
													<textarea name="message"></textarea>
												</label>
											</div>
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-right">
											<div class="terms-label">* Accept the terms and conditions.</div>
											<button type="submit" href="#" class="btn">
												<span>Send Message</span>
											</>
										</div>
									</div>
								</form>
								<div class="alert-success" style="display: none">
									<p id="my-form-status"></p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="lui-bgtitle">
					<span> Contact Me </span>
				</div>
			</div>
		</div>
	</section>
</div>
