<section class="lui-section lui-gradient-center" id="pricing-section">
	<!-- Heading -->
	<div class="lui-heading">
		<div class="container">
			<div class="m-titles align-center">
				<h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
					<span> Pricing </span>
				</h2>
				<div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
					<span> my <b>Price Board</b> </span>
				</div>
			</div>
		</div>
	</div>

	<!-- Pricing -->
	<div class="v-line v-line-left">
		<div class="container">
			<div class="pricing-items row">
				<div class="pricing-col col-xs-12 col-sm-6 col-md-6 col-lg-4">
					<div class="pricing-item scrolla-element-anim-1 scroll-animate" data-animate="active">
						<div class="lui-subtitle">
							<span> Hourly Basis </span>
						</div>
						<div class="icon"></div>
						<div class="price">
							<span> 39 <b>$</b> </span>
							<em>Hour</em>
						</div>
						<div class="lui-text">
							<div>
								<p>
									Offering expert services in brand design and web development, ensuring your online presence reflects
									your unique identity and engages your audience effectively.
								</p>
							</div>
						</div>
						<div class="list">
							<div>
								<ul>
									<li><i class="fas fa-check"></i>Brand Design</li>
									<li><i class="fas fa-check"></i>Web Development</li>
									<li>
										<em>SEO</em>
									</li>
									<li>
										<em>Free 1 Year Maintenance</em>
									</li>
								</ul>
							</div>
						</div>
						<a href="#contact-section" class="btn btn-solid">
							<span>Start Project</span>
						</a>
						<div class="bg-img" style="background-image: url(assets/images/pat-2.png)"></div>
					</div>
				</div>
				<div class="pricing-col center col-xs-12 col-sm-6 col-md-6 col-lg-4">
					<div class="label">
						<span> Popular </span>
					</div>
					<div class="pricing-item scrolla-element-anim-1 scroll-animate" data-animate="active">
						<div class="lui-subtitle">
							<span> Freelancing </span>
						</div>
						<div class="icon"></div>
						<div class="price">
							<span> 259 <b>$</b> </span>
							<em>Week</em>
						</div>
						<div class="lui-text">
							<div>
								<p>
									Comprehensive brand design, web development, and SEO services tailored to boost your online visibility
									and drive growth. Flexible options to meet your project needs.
								</p>
							</div>
						</div>
						<div class="list">
							<div>
								<ul>
									<li><i class="fas fa-check"></i>Brand Design</li>
									<li><i class="fas fa-check"></i>Web Development</li>
									<li><i class="fas fa-check"></i>SEO</li>
									<li>
										<em>Free 1 Year Maintenance</em>
									</li>
								</ul>
							</div>
						</div>
						<a href="#contact-section" class="btn btn-solid">
							<span>Start Project</span>
						</a>
						<div class="bg-img" style="background-image: url(assets/images/pat-2.png)"></div>
					</div>
				</div>
				<div class="pricing-col col-xs-12 col-sm-6 col-md-6 col-lg-4">
					<div class="pricing-item scrolla-element-anim-1 scroll-animate" data-animate="active">
						<div class="lui-subtitle">
							<span> Full Time </span>
						</div>
						<div class="icon"></div>
						<div class="price">
							<span> 1.249 <b>$</b> </span>
							<em>Month</em>
						</div>
						<div class="lui-text">
							<div>
								<p>
									Dedicated support in brand design, web development, and SEO on a full-time basis. Includes
									complimentary 1-year maintenance for uninterrupted optimization and success.
								</p>
							</div>
						</div>
						<div class="list">
							<div>
								<ul>
									<li><i class="fas fa-check"></i>Brand Design</li>
									<li><i class="fas fa-check"></i>Web Development</li>
									<li><i class="fas fa-check"></i>SEO</li>
									<li><i class="fas fa-check"></i>Free 1 Year Maintenance</li>
								</ul>
							</div>
						</div>
						<a href="#contact-section" class="btn btn-solid">
							<span>Start Project</span>
						</a>
						<div class="bg-img" style="background-image: url(assets/images/pat-2.png)"></div>
					</div>
				</div>
			</div>

			<div class="lui-bgtitle">
				<span> Pricing </span>
			</div>
		</div>
	</div>
</section>
