---
layout: default
---

<div class="wrapper">

	<!-- Section Started Heading -->
	<section class="section section-inner started-heading">
		<div class="container">

			<!-- Heading -->
			<div class="m-titles align-center">
				<h1 class="m-title splitting-text-anim-1 scroll-animate"
					data-splitting="words"
					data-animate="active"
				>
					<span> Portfolio </span>
				</h1>
				<div class="m-subtitle splitting-text-anim-1 scroll-animate"
					 data-splitting="words"
					 data-animate="active"
				>
              <span> my <b>Cases</b>
              </span>
				</div>
			</div>

		</div>
	</section>

	<!-- Section - Works -->
	<section class="lui-section">

		<!-- Works -->
		<div class="v-line v-line-right v-line-top">
			<div class="container">

				<div class="works-box">
					<div class="filter-links scrolla-element-anim-1 scroll-animate"
						 data-animate="active"
					>
						<a href="#"
						   class="lui-subtitle active"
						   data-href=".works-col"
						> All </a>
						<a href="#"
						   class="lui-subtitle"
						   data-href=".sorting-ui-ux-design"
						> UI UX Design </a>
						<a href="#"
						   class="lui-subtitle"
						   data-href=".sorting-development"
						> Web Development </a>
						<a href="#"
						   class="lui-subtitle"
						   data-href=".sorting-app-development"
						> Web App Development </a>
					</div>
					<div class="works-items works-masonry-items row">
						{%- for work in site.data.works -%}
						<div
							class="works-col col-xs-12 col-sm-12 col-md-12 col-lg-12 {{ work.classData }} "
						>
							<div class="works-item scrolla-element-anim-1 scroll-animate"
								 data-animate="active"
							>
								<div class="image">
									<div class="img">
										<a href="{{ work.url }}">
											<img decoding="async"
												 src="{{work.imgSrc}}"
												 alt="{{ work.imgAlt }}"
											>
											<span class="overlay"></span>
										</a>
									</div>
								</div>
								<div class="desc">
									<span class="category"> {{ work.category }}
									</span>
									<h5 class="name">
										<a href="{{ work.url }}">{{
											work.title }}</a>
									</h5>
									<div class="text">
										<p>{{ work.shortDesc }}</p>
									</div>
									<a href="{{ work.url }}"
									   class="lnk"
									>See project</a>
								</div>
								<div class="bg-img"
									 style="background-image:
									 url(../assets/images/pat-2.png);"
								></div>
							</div>
						</div>
						{%- endfor -%}
					</div>
				</div>

				<div class="lui-bgtitle">
					<span> Portfolio </span>
				</div>

			</div>
		</div>

	</section>

</div>